# MP3 / audio assets
*.mp3
*.m4a
*.aac
*.wav

# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcbuilddata
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
